[general]
dbpath = /db/comments.db
host = https://neurau.eu
notify = smtp
log-file = /dev/stdout

[moderation]
enabled = true

[guard]
enabled = true
ratelimit = 2
direct-reply = 3
reply-to-self = false
require-email = false

[markup]
options = strikethrough, autolink
allowed-elements =
allowed-attributes =

[smtp]
; configure email notifications for new comments
host = localhost
port = 587
security = starttls
to = contact@neurau.eu
from = isso@neurau.eu
; username =
; password =
