GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret
SITE_DIR=/var/www/neurau.eu
LISTEN_ADDR=127.0.0.1:8090
